.main-frame-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.main-frame-thq-main-frame-elm {
  width: 100%;
  height: 8045px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(242, 243, 247, 1);
}
 
.main-frame-thq-aboutme-elm {
  top: 986px;
  left: 132px;
  width: 1177px;
  height: 682px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.main-frame-thq-group2-elm {
  top: 0px;
  left: 0px;
  width: 1177px;
  height: 682px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-frame-thq-text-elm10 {
  left: 19.56005859375px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 21.68868637084961px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm11 {
  color: rgba(0, 0, 0, 1);
}
 
.main-frame-thq-text-elm12 {
  color: rgba(0, 122, 255, 1);
}
 
.main-frame-thq-text-elm14 {
  top: 2px;
  color: rgba(16, 14, 10, 1);
  height: auto;
  position: absolute;
  font-size: 189.02980041503906px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm15 {
  top: 124px;
  left: 452px;
  color: #100e0a;
  height: auto;
  position: absolute;
  font-size: 249.84808349609375px;
  font-style: Regular;
  text-align: left;
  font-family: Caveat;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm16 {
  top: 272px;
  left: 20px;
  color: rgb(16, 14, 10);
  height: auto;
  position: absolute;
  font-size: 21.6887px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-text1 {
  color: #100e0a;
}
 
.main-frame-text3 {
  color: #007aff;
}
 
.main-frame-thq-text-elm17 {
  top: 303px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  width: 435px;
  height: auto;
  position: absolute;
  font-size: 21.68868637084961px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm18 {
  font-weight: 400;
}
 
.main-frame-thq-text-elm19 {
  font-weight: 700;
}
 
.main-frame-thq-text-elm21 {
  top: 649px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  width: 760px;
  height: auto;
  position: absolute;
  font-size: 21.68868637084961px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-untitled804202604041302561-elm {
  top: 485px;
  left: 20px;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 20px;
}
 
.main-frame-thq-untitled804202604041305471-elm {
  top: 485px;
  left: 541px;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 20px;
}
 
.main-frame-thq-untitled810202604041344533-elm {
  top: 490px;
  left: 1057px;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 20px;
}
 
.main-frame-thq-untitled804202604041259411-elm {
  top: 485px;
  left: 281px;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 20px;
}
 
.main-frame-thq-untitled809202604041330452-elm {
  top: 485px;
  left: 801px;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 20px;
}
 
.main-frame-thq-group4-elm {
  top: 2670px;
  left: 127px;
  width: 1186.30078125px;
  height: 704.1470336914062px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-frame-thq-untitled851202604132337501-elm {
  top: 136px;
  left: 0px;
  width: 259px;
  height: 259px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 50px;
}
 
.main-frame-thq-untitled851202604132337461-elm {
  top: 136px;
  left: 309.073486328125px;
  width: 259px;
  height: 259px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 50px;
}
 
.main-frame-thq-untitled851202604132337561-elm {
  top: 136px;
  left: 618.1470947265625px;
  width: 259px;
  height: 259px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 50px;
}
 
.main-frame-thq-untitled851202604132338021-elm {
  top: 136px;
  left: 927.220703125px;
  width: 259px;
  height: 259px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 50px;
}
 
.main-frame-thq-untitled851202604132337502-elm {
  top: 445px;
  left: 309px;
  width: 259px;
  height: 259px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 50px;
}
 
.main-frame-thq-untitled851202604132337462-elm {
  top: 445px;
  left: 0px;
  width: 259px;
  height: 259px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 50px;
}
 
.main-frame-thq-untitled851202604132337562-elm {
  top: 445.073486328125px;
  left: 618.1536865234375px;
  width: 259px;
  height: 259px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 50px;
}
 
.main-frame-thq-untitled851202604132338022-elm {
  top: 445.073486328125px;
  left: 927.227294921875px;
  width: 259px;
  height: 259px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 50px;
}
 
.main-frame-thq-text-elm22 {
  left: 237px;
  color: rgba(0, 0, 0, 1);
  width: 711px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: center;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-frame25-elm {
  top: 5571px;
  left: -61px;
  width: 1501px;
  height: 825px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.main-frame-thq-group7-elm {
  top: 0px;
  left: 0px;
  width: 1501px;
  height: 825px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-frame-thq-rectangle6-elm {
  top: 0px;
  left: 61px;
  width: 1440px;
  height: 825px;
  position: absolute;
}
 
.main-frame-thq-untitled8592026041418564310-elm {
  top: 121px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled8592026041418564311-elm {
  top: 284px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled8592026041418564312-elm {
  top: 610px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled8592026041418564313-elm {
  top: 447px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(137, 137, 137, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-text-elm23 {
  top: 658px;
  left: 527px;
  color: rgba(242, 243, 247, 1);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 21.991621017456055px;
  font-style: Medium;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm24 {
  top: 694px;
  left: 527px;
  color: rgba(242, 243, 247, 1);
  width: 834px;
  height: auto;
  position: absolute;
  font-size: 17.18225860595703px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-untitled859202604141219014-elm {
  top: 94px;
  left: 233px;
  width: 234px;
  height: 234px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-untitled920202604200211151-elm {
  top: 94px;
  left: 493px;
  width: 517px;
  height: 234px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-untitled920202604200211152-elm {
  top: 354px;
  left: 493px;
  width: 517px;
  height: 234px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-untitled92220260420024907-photoroom1-elm {
  top: 291px;
  left: 165px;
  width: 367px;
  height: 490px;
  position: absolute;
}
 
.main-frame-thq-untitled923202604200318091-elm {
  top: 94px;
  left: 1036px;
  width: 325px;
  height: 494px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-group6-elm {
  top: 4838px;
  left: 118px;
  width: 1383px;
  height: 664px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-frame-thq-untitled859202604141219012-elm {
  top: 0px;
  left: 0px;
  width: 234px;
  height: 234px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-untitled859202604141219013-elm {
  top: 260px;
  left: 0px;
  width: 234px;
  height: 234px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-text-elm25 {
  top: 563px;
  left: 9px;
  color: rgba(16, 14, 10, 1);
  height: auto;
  position: absolute;
  font-size: 21.991621017456055px;
  font-style: Medium;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm26 {
  top: 612px;
  left: 9px;
  color: rgba(16, 14, 10, 1);
  width: 1163px;
  height: auto;
  position: absolute;
  font-size: 17.18225860595703px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-untitled859202604141856436-elm {
  top: 21px;
  left: 1289px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled859202604141856437-elm {
  top: 347px;
  left: 1289px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled859202604141856439-elm {
  top: 184px;
  left: 1289px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled859202604141856438-elm {
  top: 510px;
  left: 1289px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-img20260419190614png1-elm {
  top: 0px;
  left: 260px;
  width: 391px;
  height: 234px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-img20260419190614png2-elm {
  top: 260px;
  left: 260px;
  width: 391px;
  height: 234px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-untitled914202604191933401-elm {
  top: 0px;
  left: 951px;
  width: 221px;
  height: 269px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.7571138143539429px;
  border-radius: 20.081300735473633px;
}
 
.main-frame-thq-img20260419193845png1-elm {
  top: 294.87841796875px;
  left: 951.350830078125px;
  width: 221px;
  height: 199px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.7571160793304443px;
  border-radius: 20.081327438354492px;
}
 
.main-frame-thq-untitled908202604191631001-elm {
  top: 0px;
  left: 677px;
  width: 248px;
  height: 494px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-group8-elm {
  top: 6483px;
  left: 118px;
  width: 1383px;
  height: 652px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-frame-thq-untitled859202604141219015-elm {
  top: 0px;
  left: 0px;
  width: 234px;
  height: 234px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-untitled859202604141219016-elm {
  top: 260px;
  left: 0px;
  width: 234px;
  height: 234px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-text-elm27 {
  top: 564px;
  left: 9px;
  color: rgba(16, 14, 10, 1);
  height: auto;
  position: absolute;
  font-size: 21.991621017456055px;
  font-style: Medium;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm28 {
  top: 600px;
  left: 9px;
  color: rgba(16, 14, 10, 1);
  width: 1163px;
  height: auto;
  position: absolute;
  font-size: 17.18225860595703px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-untitled8592026041418564314-elm {
  top: 34px;
  left: 1289px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled8592026041418564315-elm {
  top: 360px;
  left: 1289px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled8592026041418564316-elm {
  top: 197px;
  left: 1289px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled8592026041418564317-elm {
  top: 523px;
  left: 1289px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled933202604201904431-elm {
  top: 0px;
  left: 260px;
  width: 471px;
  height: 234px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-untitled933202604201904432-elm {
  top: 260px;
  left: 260px;
  width: 471px;
  height: 234px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-rectangle7-elm {
  top: 0px;
  left: 757px;
  width: 414px;
  height: 494px;
  position: absolute;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-footer-elm {
  top: 7220px;
  left: 0px;
  width: 1440px;
  height: 825px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.main-frame-thq-group9-elm {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 825px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(16, 14, 10, 1);
}
 
.main-frame-thq-text-elm29 {
  top: 209.2720184326172px;
  left: 171.00003051757812px;
  color: rgba(242, 243, 247, 1);
  width: 1097px;
  height: auto;
  position: absolute;
  font-size: 84.74585723876953px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm30 {
  top: 132px;
  left: 387px;
  color: rgba(242, 243, 247, 1);
  width: 665px;
  height: auto;
  position: absolute;
  font-size: 67.9278793334961px;
  font-style: Bold;
  text-align: center;
  font-family: Caveat;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-link1 {
  display: contents;
}
 
.main-frame-thq-frame17-elm {
  gap: 19.784915924072266px;
  top: 467.71649169921875px;
  left: 319.6716613769531px;
  width: 801.1499633789062px;
  height: 115px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-twounits);
  border-color: rgba(47, 47, 47, 1);
  border-style: solid;
  border-width: 2.473114490509033px;
  padding-left: 37.096717834472656px 395.69830322265625px;
  border-radius: 123.65573120117188px;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  text-decoration: none;
  background-color: rgba(243, 244, 247, 1);
}
 
.main-frame-thq-whatsapp-elm {
  width: 59px;
  height: 59px;
}
 
.main-frame-thq-text-elm31 {
  color: rgb(16, 14, 10);
  width: 400px;
  height: 50px;
  font-size: 37.0967px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 1.5;
  aspect-ratio: 4/1;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm32 {
  top: 322.35467529296875px;
  left: 317.35784912109375px;
  color: rgba(242, 243, 247, 1);
  width: 817px;
  height: auto;
  position: absolute;
  font-size: 28.759014129638672px;
  font-style: Light;
  text-align: center;
  font-family: Manrope;
  font-weight: 300;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm33 {
  top: 587px;
  left: 530px;
  color: rgba(242, 243, 247, 1);
  width: 391px;
  height: auto;
  position: absolute;
  font-size: 26.30092430114746px;
  font-style: Light;
  text-align: left;
  font-family: Manrope;
  font-weight: 300;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm34 {
  top: 693px;
  left: 530px;
  color: rgba(242, 243, 247, 1);
  width: 399px;
  height: auto;
  position: absolute;
  font-size: 17.2px;
  font-style: Light;
  text-align: center;
  font-family: Manrope;
  font-weight: 300;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-link2 {
  display: contents;
}
 
.main-frame-thq-frame22-elm {
  gap: 5.110087871551514px;
  top: 640.3163452148438px;
  left: 485.29986572265625px;
  height: 47.663944244384766px;
  display: flex;
  padding: 6.387609958648682px 22.35663414001465px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(243, 244, 247, 1);
  border-style: solid;
  border-width: 0.6387609839439392px;
  border-radius: 31.93804931640625px;
  justify-content: center;
}
 
.main-frame-thq-vector-elm1 {
  width: 23px;
  height: 23px;
}
 
.main-frame-thq-text-elm35 {
  color: rgba(242, 243, 247, 1);
  height: auto;
  font-size: 21.26854705810547px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-link3 {
  display: contents;
}
 
.main-frame-thq-frame24-elm {
  gap: 6.387609958648682px;
  top: 640.3163452148438px;
  left: 799.5703125px;
  height: 47.663944244384766px;
  display: flex;
  padding: 6.387609958648682px 22.35663414001465px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(243, 244, 247, 1);
  border-style: solid;
  border-width: 0.6387609839439392px;
  border-radius: 31.93804931640625px;
  justify-content: center;
}
 
.main-frame-thq-vector-elm2 {
  width: 23px;
  height: 23px;
}
 
.main-frame-thq-text-elm36 {
  color: rgba(242, 243, 247, 1);
  height: auto;
  font-size: 21.26854705810547px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-link4 {
  display: contents;
}
 
.main-frame-thq-frame23-elm {
  gap: 6.387609958648682px;
  top: 640.3163452148438px;
  left: 671.1792602539062px;
  height: 47.663944244384766px;
  display: flex;
  padding: 6.387609958648682px 22.35663414001465px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(243, 244, 247, 1);
  border-style: solid;
  border-width: 0.6387609839439392px;
  border-radius: 31.93804931640625px;
  justify-content: center;
}
 
.main-frame-thq-group-elm {
  width: 23px;
  height: 17.88530731201172px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-frame-thq-vector-elm3 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 18px;
  position: absolute;
}
 
.main-frame-thq-vector-elm4 {
  top: 2.5552711486816406px;
  left: -0.00008587659249315038px;
  width: 23px;
  height: 8px;
  position: absolute;
}
 
.main-frame-thq-text-elm37 {
  color: rgba(242, 243, 247, 1);
  height: auto;
  font-size: 21.26854705810547px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-hero-section-elm {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 900px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.main-frame-thq-group1-elm {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 900px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: flex-end;
  background-color: rgba(16, 14, 10, 1);
}
 
.main-frame-thq-text-elm38 {
  top: 154px;
  left: 104px;
  color: rgba(242, 243, 247, 1);
  height: auto;
  position: absolute;
  font-size: 189.02980041503906px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm39 {
  top: 116px;
  left: 115px;
  color: rgba(242, 243, 247, 1);
  height: auto;
  position: absolute;
  font-size: 83.0550537109375px;
  font-style: Regular;
  text-align: left;
  font-family: Cheque;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm40 {
  top: 296px;
  left: 79px;
  color: rgba(242, 243, 247, 1);
  height: auto;
  position: absolute;
  font-size: 249.84808349609375px;
  font-style: Regular;
  text-align: left;
  font-family: Caveat;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm41 {
  top: 684px;
  left: 115px;
  color: rgba(242, 243, 247, 1);
  width: 486px;
  height: auto;
  position: absolute;
  font-size: 21.68868637084961px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-rectangle2-elm {
  top: 0px;
  left: 1229px;
  width: 133px;
  height: 635px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.1367521286010742px;
}
 
.main-frame-thq-rectangle-elm {
  top: 442px;
  left: 781px;
  width: 377px;
  height: 458px;
  position: absolute;
}
 
.main-frame-thq-portfolio202604061503070000page0001-photoroom1-elm {
  top: 508px;
  right: 108px;
  width: 66px;
  height: 114px;
  position: absolute;
  padding-right: 3px;
}
 
.main-frame-thq-text-elm42 {
  top: 426px;
  left: 860px;
  height: auto;
  position: absolute;
  font-size: 21.1624px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-text4 {
  color: #f2f3f7;
}
 
.main-frame-text5 {
  color: #2563eb;
}
 
.main-frame-text6 {
  color: #007aff;
}
 
.main-frame-thq-view-work-elm {
  gap: 10px;
  top: 729px;
  left: 1171px;
  width: 192px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.004000000189989805);
}
 
.main-frame-thq-text-elm43 {
  color: rgba(242, 243, 247, 1);
  height: auto;
  font-size: 21.162370681762695px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-logofolio-elm1 {
  top: 1750px;
  left: 0px;
  width: 1440px;
  height: 820px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.main-frame-thq-logofolio-elm2 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 820px;
  position: absolute;
}
 
.main-frame-thq-text-elm44 {
  top: 78px;
  left: 244.4242706298828px;
  color: rgba(242, 243, 247, 1);
  width: 952px;
  height: auto;
  position: absolute;
  font-size: 154.87078857421875px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-frame6-elm {
  gap: 60px;
  top: 465px;
  left: 142px;
  width: 1156px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.main-frame-thq-untitled84120260410210551-photoroom1-elm {
  width: 244px;
  height: 244px;
}
 
.main-frame-thq-untitled84120260410210600-photoroom1-elm {
  width: 244px;
  height: 244px;
}
 
.main-frame-thq-untitled84120260410211014-photoroom1-elm {
  width: 244px;
  height: 244px;
}
 
.main-frame-thq-untitled84120260410210556-photoroom1-elm {
  width: 244px;
  height: 244px;
}
 
.main-frame-thq-text-elm45 {
  top: 284.897705078125px;
  left: 335.04498291015625px;
  color: rgba(242, 243, 247, 1);
  height: auto;
  position: absolute;
  font-size: 21.82581901550293px;
  font-style: Regular;
  text-align: center;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
}
 
.main-frame-thq-text-elm46 {
  top: 709px;
  left: 157px;
  color: rgba(242, 243, 247, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: ExtraLight;
  text-align: center;
  font-family: Manrope;
  font-weight: 200;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm47 {
  top: 709px;
  left: 446px;
  color: rgba(242, 243, 247, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: ExtraLight;
  text-align: center;
  font-family: Manrope;
  font-weight: 200;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm48 {
  top: 709px;
  left: 770px;
  color: rgba(242, 243, 247, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: ExtraLight;
  text-align: center;
  font-family: Manrope;
  font-weight: 200;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm49 {
  top: 709px;
  left: 1086px;
  color: rgba(242, 243, 247, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: ExtraLight;
  text-align: center;
  font-family: Manrope;
  font-weight: 200;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-vector1-elm {
  top: 410px;
  left: 264px;
  width: 912px;
  height: 3px;
  position: absolute;
}
 
.main-frame-thq-brandings-elm {
  top: 3450px;
  left: -61px;
  width: 1501px;
  height: 1275px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.main-frame-thq-group5-elm {
  top: 0px;
  left: 0px;
  width: 1501px;
  height: 1275px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.main-frame-thq-rectangle5-elm {
  top: 0px;
  left: 61px;
  width: 1440px;
  height: 1275px;
  position: absolute;
}
 
.main-frame-thq-text-elm50 {
  top: 122px;
  left: 240px;
  color: rgba(242, 243, 247, 1);
  width: 1083px;
  height: auto;
  position: absolute;
  font-size: 154px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-untitled859202604141219011-elm {
  top: 559px;
  left: 172px;
  width: 234px;
  height: 234px;
  position: absolute;
  border-color: rgba(242, 242, 247, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-untitled859202604141856431-elm {
  top: 548px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled859202604141856432-elm {
  top: 711px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled859202604141856433-elm {
  top: 1037px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-untitled859202604141856434-elm {
  top: 874px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
  border-color: rgba(137, 137, 137, 1);
  border-style: solid;
  border-width: 1.3125px;
  border-radius: 15px;
}
 
.main-frame-thq-text-elm51 {
  top: 1123px;
  left: 168px;
  color: rgba(242, 243, 247, 1);
  height: auto;
  position: absolute;
  font-size: 21.991621017456055px;
  font-style: Medium;
  text-align: center;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm52 {
  top: 1159px;
  left: 168px;
  color: rgba(242, 243, 247, 1);
  width: 1236px;
  height: auto;
  position: absolute;
  font-size: 17.18225860595703px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm53 {
  top: 327px;
  left: 362px;
  color: rgba(242, 243, 247, 1);
  width: 838px;
  height: auto;
  position: absolute;
  font-size: 17.18225860595703px;
  font-style: Regular;
  text-align: center;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-img20260414200751png1-elm {
  top: 819px;
  left: 172px;
  width: 234px;
  height: 234px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-untitled889202604150447381-elm {
  top: 559px;
  left: 432px;
  width: 668px;
  height: 494px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-img20260414134038png11-elm {
  top: 561px;
  left: 1126px;
  width: 278px;
  height: 494px;
  position: absolute;
  border-color: rgba(242, 243, 247, 1);
  border-style: solid;
  border-width: 1.75px;
  border-radius: 20px;
}
 
.main-frame-thq-vector2-elm {
  top: 455px;
  left: 325px;
  width: 912px;
  height: 3px;
  position: absolute;
}
 
.main-frame-thq-navigationbar-elm {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.main-frame-thq-group10-elm {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(118, 118, 118, 0.20000000298023224);
}
 
.main-frame-thq-text-elm54 {
  top: 12px;
  left: 27px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm55 {
  top: 14px;
  left: 1167px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-frame26-elm {
  gap: 10px;
  top: 10px;
  left: 1293px;
  width: 138px;
  height: 39px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(16, 14, 10, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(118, 118, 118, 1);
}
 
.main-frame-thq-text-elm56 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm57 {
  top: 14px;
  left: 1045px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-thq-text-elm58 {
  top: 14px;
  left: 918px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.main-frame-link5 {
  display: contents;
}
 
.main-frame-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.main-frame-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.main-frame-text7 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
